{% set profile = user.profile %}
<div class="card infobox">
  <h3>{{ profile.full_name }}</h3>
  <p>{{ profile.biography|enrich }}</p>
  {% if profile.location %}
    <p><span class="weak">Location:</span> {{ profile.location|locationdata }}</p>
  {% endif %}
  {% if profile.website %}
    {% set website = profile.website %}
    {% set website = website if website.startswith(('http://', 'https://')) else 'http://' + website %}
    <p><span class="weak">Website:</span> {{ profile.website|urlize }}</p>
  {% endif %}
  <p>
    <strong>{{ user.messages|count }}</strong> messages
    -
    <a href="{{ url_for('website.user_followers', username=user.username) }}"><strong>{{ user.followers()|count }}</strong></a> followers
    -
    <a href="{{ url_for('website.user_following', username=user.username) }}"><strong>{{ user.following()|count }}</strong></a> following
  </p>
  {% if user == current_user %}
    <p><a href="/edit_profile/">{{ inline_svg('edit') }} Edit profile</a></p>
  {% endif %}
</div>
