:root {
  --accent: #f0372e;
  --link: #3399ff;
}
body, button, input, select, textarea { 
  font-family: Inter, Roboto, sans-serif;
  line-height: 1.6;
  background-color: #eeeeee;
}
#site-name, h1, h2, h3, h4, h5, h6 {
  font-family: 'Funnel Sans', Roboto, sans-serif;
  line-height: 1.2;
}
body{margin:0}
main{margin:auto; max-width: 960px;}
a{text-decoration:none}
a:hover{text-decoration:underline}
.mobile-collapse {font-size: smaller;}
@media (max-width:640px){
  .mobile-collapse{display:none}
}
.header{ 
  padding:12px;color:white; background-color:var(--accent); box-shadow:0 0 3px 3px #ccc; display: flex; position: relative;
}
.centered{
 text-align: center;
}
.content{padding:12px}
.header a{color:white; }
.header a svg{fill:white}
.content a{color:var(--link)}
.content a svg{fill:var(--link)}
.content a.plus{color:var(--accent)}
.leftnav, .rightnav{list-style: none; display: flex; padding: 0; margin: 0;position: absolute;}
.leftnav {left: 0}
.rightnav {right: 0}
.card {background-color: #fafafa; border-radius: 12px; padding: 12px; margin-bottom: 12px; border-bottom: 2px solid #999999;}
#site-name {text-align: center;flex: 1}
.header h1{margin:0;display:inline-block}
.flash{background-color:#ff9;border:yellow 1px solid}
.infobox{padding:12px;border:#ccc 1px solid}
@media (min-width:640px) {
  .infobox{float:right;width:320px}
}
.weak{opacity:.5}
.field_desc{display:block}
ul.timeline{padding:0;margin:auto;max-width:960px}
ul.timeline > li{list-style:none;}
.message-visual img{max-width:100%;margin:auto}
.message-options-showhide::before{content:'\2026'}
.message-options{display:none}
.create_text{width:100%;height:8em}
.biography_text{height:4em}
.before-toggle:not(:checked) + input{display:none}
.follow_button,input[type="submit"]{background-color:var(--accent);color:white;border-radius:3px;border:1px solid var(--accent)}
.follow_button.following{background-color:transparent;color:var(--accent);border-color:var(--accent)}
.copyright{font-size:smaller;text-align:center;color:#808080}
.copyright a:link,.copyright a:visited{color:#31559e}
.copyright ul{list-style:none;padding:0}
.copyright ul > li{padding:0 3px}
